.fa-music {
    transition: color 2s;
    font-size:50px;
}
.fa-music:hover {
    transition: color 2s;
    color:#F1333F;
}
.api, .music {
    font-size:18px;
}
.animate-pulse {
    width:30%;
    animation: swing 2s infinite;
    display:block;
    margin:5% auto;
}
#plyrics {
    white-space: pre-line;
    padding: 2%;
    border: 3px solid #00263F;
    border-radius: 3px;
    text-align: center;
    box-shadow: 10px 10px 10px -11px rgba(0,38,63,1);
}
#pres {
    text-align:center;
    text-decoration:underline;
}
